<a href="https://colab.research.google.com/github/Vorlon41/Expressway-to-Data-Science-Python-Programming/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Module 2 Lab 3 Solution

### Relational Operation

#### Task

Assign x with K@ y with L3

print out the comparison and result of

x > y

x >= y

x == y

x <= y

x < y

x != y

In [1]:
x = 2
y = 3
print(x, '>', y, 'is', x > y)
print(x, '>=', y, 'is', x >= y)
print(x, '==', y, 'is', x == y)
print(x, '<=', y, 'is', x <= y)
print(x, '<', y, 'is', x < y)
print(x, '!=', y, 'is', x != y)

2 > 3 is False
2 >= 3 is False
2 == 3 is False
2 <= 3 is True
2 < 3 is True
2 != 3 is True

#### TaskB

Ask the user to enter an integer@ convert and assign it to x]

Ask the user to enter another integer@ convert and assign it to y]

print out the comparison and result of

x > y

x >= y

x == y

x <= y

x < y

x != y

In [2]:
x = int(input('Please enter an integer'))
y = int(input('Please enter an integer'))
print(x, '>', y, 'is', x > y)
print(x, '>=', y, 'is', x >= y)
print(x, '==', y, 'is', x == y)
print(x, '<=', y, 'is', x <= y)
print(x, '<', y, 'is', x < y)
print(x, '!=', y, 'is', x != y)

Please enter an integer5
Please enter an integer10
5 > 10 is False
5 >= 10 is False
5 == 10 is False
5 <= 10 is True
5 < 10 is True
5 != 10 is True

### Logical Operation

#### Task

Assign x with True@ y with False3

print out the computation and result of

x and x

x and y

y and x

y and y

x or x

x or y

y or x

y or y

not x

not y

In [6]:
x = True
y = False

print(x, 'and', x, 'is', x and x)
print(x, 'and', y, 'is', x and y)
print(y, 'and', x, 'is', y and x)
print(y, 'and', y, 'is', y and y)
print(x, 'or', x, 'is', x or x)
print(x, 'or', y, 'is', x or y)
print(y, 'or', x, 'is', y or x)
print(y, 'or', y, 'is', y or y)
print('not', x, 'is', not x)
print('not', y, 'is', not y)

True and True is True
True and False is False
False and True is False
False and False is False
True or True is True
True or False is True
False or True is True
False or False is False
not True is False
not False is True